In [1]:
import pandas as pd

In [11]:
df=pd.read_excel(r'D:\thesis data files\Automated_data_download_MOSMIX_X009\combined_S_master\compiled_latest_forecast.xlsx')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   station_id                        430 non-null    object
 1   dataset                           430 non-null    object
 2   date                              430 non-null    datetime64[ns]
 3   temperature_air_mean_200          430 non-null    float64
 4   qn_temperature_air_mean_200       0 non-null      float64
 5   wind_speed                        430 non-null    float64
 6   qn_wind_speed                     0 non-null      float64
 7   cloud_cover_between_2_to_7_km     430 non-null    int64
 8   qn_cloud_cover_between_2_to_7_km  0 non-null      float64
 9   cloud_cover_below_1000_ft         430 non-null    int64
 10  qn_cloud_cover_below_1000_ft      0 non-null      float64
 11  radiation_global                  430 non-null    int64
 12  qn_radiation_global               0 non-null      float64
 13  issue_time                        430 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(7), int64(3), object(2)
memory usage: 47.2+ KB

In [17]:
df1=df.drop(columns=['station_id','dataset','qn_temperature_air_mean_200','qn_wind_speed','qn_cloud_cover_between_2_to_7_km','qn_cloud_cover_below_1000_ft','qn_radiation_global'])

In [18]:
df1

,date,temperature_air_mean_200,wind_speed,cloud_cover_between_2_to_7_km,cloud_cover_below_1000_ft,radiation_global,issue_time
0,2025-09-07 10:00:00,295.35,4.63,20,0,1940,2025-09-07 10:00:00
1,2025-09-07 11:00:00,296.85,5.14,9,2,2270,2025-09-07 11:00:00
2,2025-09-07 12:00:00,298.05,5.14,9,1,2420,2025-09-07 12:00:00
3,2025-09-07 13:00:00,298.95,5.14,7,0,2330,2025-09-07 13:00:00
4,2025-09-07 14:00:00,299.35,5.14,7,0,2100,2025-09-07 14:00:00
...,...,...,...,...,...,...,...
425,2025-09-25 03:00:00,283.35,2.57,20,40,0,2025-09-15 08:00:00
426,2025-09-25 04:00:00,283.35,2.57,20,42,0,2025-09-15 08:00:00
427,2025-09-25 05:00:00,284.65,2.06,27,25,0,2025-09-15 08:00:00
428,2025-09-25 06:00:00,285.05,2.06,27,27,10,2025-09-15 08:00:00
429,2025-09-25 07:00:00,286.05,2.57,22,29,180,2025-09-15 08:00:00

In [19]:
df1=df1.rename(columns={'radiation_global':'radiation_global(kJ/m2)','temperature_air_mean_200':'temperature_air_mean(2m)','wind_speed':'wind_speed(m/s)','cloud_cover_between_2_to_7_km':'cloud_cover_between_2_to_7_km(%)','cloud_cover_below_1000_ft':'cloud_cover_below_1000_ft(%)'})
df1

,date,temperature_air_mean(2m),wind_speed(m/s),cloud_cover_between_2_to_7_km(%),cloud_cover_below_1000_ft(%),radiation_global(kJ/m2),issue_time
0,2025-09-07 10:00:00,295.35,4.63,20,0,1940,2025-09-07 10:00:00
1,2025-09-07 11:00:00,296.85,5.14,9,2,2270,2025-09-07 11:00:00
2,2025-09-07 12:00:00,298.05,5.14,9,1,2420,2025-09-07 12:00:00
3,2025-09-07 13:00:00,298.95,5.14,7,0,2330,2025-09-07 13:00:00
4,2025-09-07 14:00:00,299.35,5.14,7,0,2100,2025-09-07 14:00:00
...,...,...,...,...,...,...,...
425,2025-09-25 03:00:00,283.35,2.57,20,40,0,2025-09-15 08:00:00
426,2025-09-25 04:00:00,283.35,2.57,20,42,0,2025-09-15 08:00:00
427,2025-09-25 05:00:00,284.65,2.06,27,25,0,2025-09-15 08:00:00
428,2025-09-25 06:00:00,285.05,2.06,27,27,10,2025-09-15 08:00:00
429,2025-09-25 07:00:00,286.05,2.57,22,29,180,2025-09-15 08:00:00